{
  "IsEncrypted": false,
  "Values": {
    "NODE_TLS_REJECT_UNAUTHORIZED": 0,
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "dummy",
    "SLOT_TASK_HUBNAME": "FnAzureApiSlotTaskName",
    "NODE_ENV": "development",

    "COSMOSDB_ENDPOINT": "<put-here-the-the-cosmos-database-endpoint>",
    "COSMOSDB_DATABASE_NAME": "<put-here-the-name-of-cosmos-database>",
    "SIGNER_JWK_LIST_BASE64": "<put-here-the-array-of-jwks-in-base64>"
  }
}
